header.header
    .header__wrapper
        .header__inner
            .header__nav#menu
                ul.header__list
                    li.header__item
                        a.header__link(href="#start")
                            span Старт
                    li.header__item
                        a.header__link(href="#about")
                            span О нас
                    li.header__item
                        a.header__link(href="#menu-menu")
                            span Меню
                    //li.header__item
                        a.header__link(href="#")
                            span Доставка
                    li.header__item
                        a.header__link(href="#contacts")
                            span Контакты
                .header__menu-icon
                    span