extends ../components/layout.pug

block variables

    - var pageName = 'index'
    - var slider = ['url(img/1.jpg)', 'url(img/2.jpg)', 'url(img/3.jpg)', 'url(img/4.jpg)', 'url(img/5.jpg)']
    -
        var menu = [
         {
         icon: 'img/kofejnik.svg',
         divider: 'img/zvezda.svg',
         text: 'Мы варим кофе. Продаем на развес, молотый и в зернах',
         link: 'https://www.dropbox.com/s/364y9bvut6beppk/menu.pdf?dl=0'
         },
         {
         icon: 'img/list2.svg',
         divider: 'img/zvezda.svg',
         text: 'Еще чай. Тоже на развес. Тоже продаем. Хороший',
         link: 'https://www.dropbox.com/s/5x9ch9hzdzfy1to/menu-hot.pdf?dl=0'
         },
         {
         icon: 'img/sok.svg',
         divider: 'img/zvezda.svg',
         text: 'Напитки фирменные тоже есть. Ну они вообще пушка',
         link: 'https://www.dropbox.com/s/hod3xc5i36bo4xn/menu-cold.pdf?dl=0'
         }
         ];


block content

    section.main#start
        .main-slider
            each img in slider
                .main-slider__item(style={background: img})
        .wrapper
            .main__inner
                .main__content
                    img.main-page__logo(src='img/rysunek-3.svg')
            .main__scroll-down
                span.scroll-btn
                    a(href="#")
                        span.mouse
                            span

    section.about#about
        .wrapper
            .title О нас
            .about__container
                .about__discription
                    .about__name-img
                        img.about__name-img_img(src='img/text.svg')
                    .about__logo-img
                        img.about__logo-img_img(src='img/enot.svg')
                    .about__text
                        p
                            | Типо мы варим кофе (самый вкусный).
                            br
                            | Продаем на развес, молотый и в зернах.
                            br
                            | Еще чай. Много чая. Есть тоже на и развес. Еще фирменные напитки готовим.
                            br
                            | В общем у нас много всего интересного и вкусного, так что ждём!
                        p
                            | К тому же, мы сотрудничаем с крутыми чуваками, которые разработали мобильное приложение
                            | и с его помощью вы сможете накапливать бонусы и получать плюшки-прянички
                    .about__partners
                        a(href='https://143up.com/' target="_blank")
                            img.about__partners-img(src='img/143.png')
                    .about__partners-apps
                        | Качай приложения:
                        .about__partners_stores
                            a(href='https://play.google.com/store/apps/details?id=com.oneforfree.oneforfree' target="_blank")
                                img.about__partners-img(src='img/google-play.png')
                            a(href='https://apps.apple.com/us/app/one-for-free/id1361558770' target="_blank")
                                img.about__partners-img(src='img/download.png')
                .about__turk
                    img.about__turk-img(src='img/6.png')

    section.menu#menu-menu
        .wrapper
            .title Меню
            .menu__container
                each item in menu
                    .menu__items
                        .menu__img
                            img.menu__icon(src=item.icon)
                        .menu__devider
                            img.menu__devider-icon(src=item.divider)
                        .menu__text
                            p=item.text
                        .menu__pdf
                            a.menu__pdf-link(href=item.link target="_blank") Смотреть меню

    section.instagram#contacts
        .title Мы в Instagram
        .instagram__container
            <!-- LightWidget WIDGET -->
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7110ef79fcb05c2c9625542b921546d7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

            // https://lightwidget.com/add-on/widget-upgrade?widgetId=7110ef79fcb05c2c9625542b921546d7

    section.contacts
        .title Контакты
        .contacts__container
            .contacts__logo
                img.contacts__logo-img(src="./img/logo.svg")
            .contacts__location-wrapper
                .contacts__map#mapid
                .contacts__info
                    .contacts__location
                        h3 Наши адреса:
                        span.contacts__location-adress
                            a(href="https://g.page/raccoon-coffee?share" target="_blank") &#x2022; ПР. ПОБЕДЫ, 22 (Паркетный зал "Вудхард")
                        span.contacts__location-adress.contacts__location-adress_middle
                            a(href="https://goo.gl/maps/ZWoQQWNYTBzmAbdg9" target="_blank") &#x2022; УЛ. КОНСТАНТИНОВСКАЯ, 21 (бар "Zbirka")
                        span.contacts__location-adress
                            a(href="https://goo.gl/maps/uttYQpeoA4ygs1pM6" target="_blank") &#x2022; ПР. АКАДЕМИКА ПАЛАДИНА, 7 (Кав'ярня Єнотік)
                    .contacts__location
                        h3 Наш телефон
                        span
                            a(href="tel:+380688158043" target="_blank") +38 068 815 80 43
                    .contacts__location
                        h3 Наш график работы
                        span ПН-ВС: 8:00 - 20:00
                    .contacts__location
                        h3 Наш Facebook
                        span
                            a(href="https://www.facebook.com/coffee.raccoon/" target="_blank") @coffee.raccoon
